test/flow.json
[{"id":"3c48bd26.f33fd2","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"16a450d6.d21a4f","type":"debug","z":"3c48bd26.f33fd2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":340,"wires":[]},{"id":"57250b85.8bcb44","type":"inject","z":"3c48bd26.f33fd2","name":"","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":340,"wires":[["f923dd3.a1c312"]]},{"id":"2533dfbf.8dae8","type":"inject","z":"3c48bd26.f33fd2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":60,"wires":[["7e2976d8.7cb748"]]},{"id":"95cb91d0.252e5","type":"inject","z":"3c48bd26.f33fd2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":190,"y":100,"wires":[["7e2976d8.7cb748"]]},{"id":"f923dd3.a1c312","type":"function","z":"3c48bd26.f33fd2","name":"","func":"let now = new Date();\nmsg.payload = {\n    timestamp: now.getTime(),\n    string: now.toLocaleString()\n}\nmsg.requestTimeout = 5000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":340,"wires":[["e89f4141.fea0c"]]},{"id":"964e3066.10e6c","type":"http request","z":"3c48bd26.f33fd2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/factory-iot/","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":340,"wires":[["16a450d6.d21a4f","f0dfcdef.b56f9"]]},{"id":"9448b626.82b3d8","type":"http in","z":"3c48bd26.f33fd2","name":"","url":"/factory-iot","method":"post","upload":false,"swaggerDoc":"","x":160,"y":200,"wires":[["7e2976d8.7cb748","87bfa395.5cb2e"]]},{"id":"6b0c621f.61f6fc","type":"http response","z":"3c48bd26.f33fd2","name":"","statusCode":"200","headers":{},"x":560,"y":180,"wires":[]},{"id":"c6ee5af.a10faa8","type":"http response","z":"3c48bd26.f33fd2","name":"","statusCode":"400","headers":{},"x":560,"y":220,"wires":[]},{"id":"7e2976d8.7cb748","type":"function","z":"3c48bd26.f33fd2","name":"","func":"let response = flow.get(\"response\")\nif(response === undefined) response = 0;\nif((msg.payload === 0) || (msg.payload === 1) || (msg.payload === 2)){\n    flow.set(\"response\",msg.payload);\n} else {\n    switch(response){\n        case 0:\n            node.send(msg);\n            break;\n        case 1:\n            node.send([,msg])\n            break;\n        default:\n            break;\n    }\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":360,"y":200,"wires":[["6b0c621f.61f6fc","185a85df.de26aa"],["c6ee5af.a10faa8","8a78c21c.f4a83"]]},{"id":"185a85df.de26aa","type":"debug","z":"3c48bd26.f33fd2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":140,"wires":[]},{"id":"8a78c21c.f4a83","type":"debug","z":"3c48bd26.f33fd2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":260,"wires":[]},{"id":"ab611b45.38c2f8","type":"inject","z":"3c48bd26.f33fd2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":190,"y":140,"wires":[["7e2976d8.7cb748"]]},{"id":"4e2ff30f.7d8b1c","type":"inject","z":"3c48bd26.f33fd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":540,"wires":[["a7ff6dec.a47bb"]]},{"id":"87bfa395.5cb2e","type":"debug","z":"3c48bd26.f33fd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":260,"wires":[]},{"id":"a7ff6dec.a47bb","type":"http-post-cache-debug","z":"3c48bd26.f33fd2","channel":"f498f416.bed398","name":"","x":550,"y":540,"wires":[[]]},{"id":"e89f4141.fea0c","type":"http-post-cache-input","z":"3c48bd26.f33fd2","channel":"f498f416.bed398","name":"","x":780,"y":340,"wires":[["964e3066.10e6c"]]},{"id":"f0dfcdef.b56f9","type":"http-post-cache-judge","z":"3c48bd26.f33fd2","channel":"f498f416.bed398","name":"","x":1210,"y":400,"wires":[]},{"id":"f498f416.bed398","type":"http-post-cache-channel","path":"/Users/naotakasaito/Documents/factory-iot/develop/cache/temp","interval":"100","expiration":"1"}]
